body {
  background: #0f172a;
  font-family: Arial, sans-serif;
  color: #e5e7eb;
  margin: 0;
}

h1 {
  color: #38bdf8;
}

h2 {
  color: #94a3b8;
}

h3 {
  color: #38bdf8;
}

a {
  color: #38bdf8;
}


